* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f8fc;
    color: #4c5678;
}


.navbar {
    height: 58px;
    background: #50577c;
    color: white;

    display: flex;
    align-items: center;

    padding: 0 8%;

    gap: 30px;

    box-shadow: 0 2px 8px rgba(0,0,0,.2);

    position: sticky;
    top: 0;

    z-index: 1000;
}


.logo-area {
    display: flex;
    align-items: center;

    gap: 8px;

    flex: 1;
}


.logo-circle {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    background: #eaf1f8;

    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-area strong {
    display: block;
    font-size: 12px;
}


.logo-area small {
    display: block;
    font-size: 8px;
    opacity: .7;
}


nav {
    display: flex;
    gap: 30px;
}


nav a {
    color: white;
    text-decoration: none;

    font-size: 9px;
    font-weight: bold;
}


.live-status {
    background: #15952c;

    padding: 6px 12px;

    border-radius: 5px;

    font-size: 9px;
    font-weight: bold;
}



/* HERO */

.hero {
    min-height: 270px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 40px 9%;

    background:
        radial-gradient(
            circle at center,
            rgba(255,255,255,.8),
            transparent 50%
        ),
        #eef6fb;
}


.hero-content {
    max-width: 500px;
}


.monitor-label {
    display: inline-block;

    background: #d8f6e7;

    color: #40556d;

    padding: 7px 12px;

    border-radius: 20px;

    font-size: 9px;
    font-weight: bold;
}


.hero h1 {
    margin-top: 15px;

    font-size: 34px;

    line-height: 1;

    color: #4e577d;
}


.hero p {
    margin-top: 18px;

    color: #58708a;

    line-height: 1.7;

    font-size: 13px;

    max-width: 470px;
}


.hero-buttons {
    margin-top: 25px;

    display: flex;

    gap: 12px;
}


button {
    cursor: pointer;

    border: 0;

    font-weight: bold;
}


.emergency-button {
    background: #a9b8ce;

    color: white;

    padding: 12px 25px;

    border-radius: 6px;
}


.announcement-button {
    background: white;

    color: #50577c;

    border: 1px solid #526181;

    padding: 12px 25px;

    border-radius: 6px;
}



/* WEATHER */

.weather-card {
    width: 300px;

    min-height: 195px;

    background: #183f5e;

    color: white;

    border-radius: 15px;

    padding: 20px;

    box-shadow:
        0 15px 30px rgba(25,55,80,.2);
}


.weather-header {
    display: flex;

    justify-content: space-between;

    font-size: 13px;
}


.weather-live {
    background: #3e5879;

    padding: 4px 8px;

    border-radius: 10px;

    font-size: 8px;
}


.weather-main {
    margin-top: 22px;

    display: flex;

    align-items: center;

    gap: 12px;
}


.weather-icon {
    font-size: 38px;
}


.temperature {
    font-size: 29px;

    font-weight: bold;
}


.condition {
    font-size: 11px;

    font-weight: bold;

    margin-top: 4px;
}


.weather-details {
    margin-left: auto;

    font-size: 9px;

    line-height: 2;
}


.weather-message {
    background: #102f47;

    padding: 12px;

    border-radius: 7px;

    margin-top: 13px;

    font-size: 10px;
}


.weather-message strong {
    color: #ffd400;
}


.weather-message p {
    margin-top: 5px;

    color: #75879a;
}


.pagasa-link {
    display: block;

    color: #b9d8f1;

    font-size: 9px;

    margin-top: 10px;

    text-decoration: none;
}



/* SECTIONS */

.safety-section,
.announcements,
.events,
.emergency-section {
    padding: 55px 9%;
}


.section-title {
    text-align: center;

    margin-bottom: 30px;
}


.section-title h2 {
    font-size: 20px;

    color: #3f5477;
}


.section-title p {
    margin-top: 6px;

    font-size: 11px;

    color: #333;
}



/* STATUS */

.status-grid {
    display: grid;

    grid-template-columns:
        1fr 1.5fr 1fr;

    gap: 10px;

    max-width: 950px;

    margin: auto;
}


.status-card {
    background: white;

    border-radius: 12px;

    padding: 18px;

    min-height: 130px;

    box-shadow:
        0 4px 15px rgba(0,0,0,.08);
}


.status-card h3 {
    font-size: 13px;

    margin-bottom: 14px;
}


.status-card p {
    font-size: 11px;

    line-height: 2;
}


.status-card img {
    width: 100%;

    height: 95px;

    object-fit: cover;

    border-radius: 7px;
}


.online {
    font-weight: bold;
}


.monitoring {
    display: block;

    color: #0aa53d;

    margin-top: 8px;

    font-size: 11px;
}


.source-text {
    display: block;

    margin-top: 12px;

    color: #15952c;
}



/* ANNOUNCEMENTS */

.announcements {
    background: #f4f9fd;
}


.announcement-grid {
    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 10px;
}


.announcement-card {
    background: white;

    border-radius: 8px;

    overflow: hidden;

    box-shadow:
        0 3px 10px rgba(0,0,0,.08);
}


.announcement-card img {
    width: 100%;

    height: 150px;

    object-fit: cover;
}


.announcement-card div {
    padding: 12px;
}


.announcement-card h3 {
    font-size: 11px;
}


.announcement-card p {
    font-size: 9px;

    color: #8995a2;

    margin-top: 7px;
}


.loading-card {
    padding: 20px;
}



/* EVENTS */

.events {
    background: #edf6fc;
}


.event-grid {
    max-width: 950px;

    margin: auto;

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 10px;
}


.event-card {
    background: white;

    border-radius: 7px;

    overflow: hidden;

    padding-bottom: 15px;

    box-shadow:
        0 4px 10px rgba(0,0,0,.07);
}


.event-card > strong {
    display: block;

    background: #40577c;

    color: white;

    text-align: center;

    padding: 8px;

    font-size: 9px;
}


.event-card h4 {
    font-size: 9px;

    padding: 12px;

    min-height: 55px;
}


.event-card button {
    background: #50577c;

    color: white;

    margin-left: 12px;

    padding: 7px 12px;

    border-radius: 5px;

    font-size: 8px;
}



/* EMERGENCY */

.emergency-section {
    background: #fff6f5;
}


.monitor-panel {
    max-width: 680px;

    margin: auto;

    background: white;

    border: 1px solid #9ca9b7;

    border-radius: 10px;

    padding: 15px;
}


.monitor-top {
    display: flex;

    justify-content: space-between;

    align-items: center;
}


.monitor-top h3 {
    font-size: 14px;
}


.active-badge {
    background: #d9f7e4;

    color: #0b9c3c;

    border-radius: 15px;

    padding: 6px 10px;

    font-size: 8px;
}


.monitor-content {
    display: flex;

    gap: 30px;

    align-items: center;

    padding: 20px;
}


.school-icon {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    background: #e9f0f7;

    border: 5px solid #4d6382;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 35px;
}


.monitor-info {
    flex: 1;
}


.monitor-info small {
    font-size: 8px;

    color: #89949e;
}


.monitor-info h2 {
    font-size: 18px;

    margin-top: 5px;
}


.monitor-info p {
    font-size: 9px;

    color: #89949e;
}


.alarm-grid {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 5px;

    margin-top: 12px;
}


.alarm-grid div {
    border: 1px solid #e2e5e8;

    padding: 8px;

    text-align: center;

    border-radius: 5px;
}


.alarm-grid strong {
    display: block;

    font-size: 8px;
}


.alarm-grid small {
    color: #1a9e4b;
}


.last-check {
    border-radius: 6px;

    background: #fff0ef;

    padding: 8px;

    display: flex;

    justify-content: space-between;

    font-size: 8px;
}



/* FOOTER */

footer {
    background: #07304b;

    color: white;

    padding: 20px 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


.footer-logo {
    display: flex;

    gap: 8px;

    align-items: center;
}


.footer-logo strong {
    display: block;

    font-size: 10px;
}


.footer-logo small {
    font-size: 7px;
}


footer p {
    font-size: 8px;

    opacity: .7;
}



/* EMERGENCY POPUP */

.emergency-overlay {
    position: fixed;

    inset: 0;

    background:
        rgba(70,0,0,.7);

    display: none;

    align-items: center;

    justify-content: center;

    z-index: 5000;
}


.emergency-overlay.show {
    display: flex;
}


.emergency-popup {
    background: white;

    width: 90%;

    max-width: 420px;

    text-align: center;

    padding: 35px;

    border-radius: 15px;

    box-shadow:
        0 20px 60px rgba(0,0,0,.3);
}


.danger-icon {
    font-size: 55px;
}


.emergency-popup h2 {
    color: #c62828;

    margin: 10px;
}


.emergency-popup p {
    font-size: 12px;

    color: #667;
    
    margin: 8px;
}


.emergency-popup button {
    background: #50577c;

    color: white;

    padding: 12px 20px;

    border-radius: 7px;

    margin-top: 15px;
}



/* MOBILE */

@media (max-width: 800px) {

    .navbar {
        padding: 10px 5%;

        height: auto;

        flex-wrap: wrap;
    }


    nav {
        order: 3;

        width: 100%;

        justify-content: center;

        gap: 15px;
    }


    .hero {
        flex-direction: column;

        gap: 30px;

        padding: 35px 6%;
    }


    .weather-card {
        width: 100%;

        max-width: 400px;
    }


    .status-grid,
    .announcement-grid,
    .event-grid {
        grid-template-columns: 1fr;
    }


    .alarm-grid {
        grid-template-columns: 1fr 1fr;
    }


    .monitor-content {
        flex-direction: column;
    }


    footer {
        flex-direction: column;

        gap: 15px;

        text-align: center;
    }

}
